body,html{
    height: 100%;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

.imagen-div{
    background-image: url(../img/dolares.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    height: 100%;
}

.texto-div{
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    backdrop-filter: blur(2px);
}

h1{
    font-size: 48px;
}

#listas-usadas{
    display: flex;
}

.oculto{
    display: none;
}

#errores li{
    background-color: red;
}